.section-brands__list{
    display: flex;
    align-items: center;
    margin-left: -25px;
    margin-top: -20px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-brands__list-item-img{
    margin-left: 25px;
    margin-top: 20px;
}

.section-brands__content{
    margin-top: 80px;
}

.section-brands{
    background: #0F0F0F;
    padding: 60px 0px 80px 0px;
}
